.errorPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 35rem;
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center
}

.errorPage h1 {
    font-size: 2rem;
    color: #ff6f61;
}

.errorPage p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #333;
}

.goBackButton {
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.goBackButton:hover {
    background-color: #e65550;
}

@media (max-width: 850px) {
    .errorPage {
        max-width: 100%;
        margin: 0 auto;
    }

    .errorPage h1 {
        font-size: 1.75rem;
    }

    .errorPage p {
        font-size: 0.9rem;
    }

}

@media (max-width: 550px) {

    .errorPage {
        padding: 0.5rem;
    }

    .errorContent h1 {
        font-size: 1.5rem;
    }

    .errorContent p {
        font-size: 0.85rem;
    }

    .goBackButton {
        font-size: 0.9rem;
        padding: 0.6rem;
    }
}